body {
  // background-color: #77afaf;
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  position: relative;
}
.container {
  display: flex;
  min-height: 85vh;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
